{# On utilise ici le layout général, qui se situe dans ce même bundle #}
{% extends "SbnetFrontBundle::layout.html.twig" %}

{% block title %}
  City - {{ parent() }}
{% endblock %}

{% block content %}
  <h1>{{ city.prefix }}{{ city.name }}</h1>

  <div class="row">
    <div class="col-lg-4">
      <p>
        La ville de {{ city.prefix }}{{ city.name }} est dans le département de {{ city.area_formal_name }} ({{ city.area_code }}), dans la région {{ city.region_formal_name }}.
      </p>
      <p>
        La population de {{ city.prefix }}{{ city.name }} est au nombre de {{ city.population|number_format(0, '.', ' ') }} habitants. Ses habitants sont appelés des ??
      </p>
      <p>
        Son code postal est le {{ city.post_code }} et son code insee unique est le {{ city.department_code }}{{ city.city_code }}
      </p>
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      {{ dump(city) }}
    </div>
  </div>


{% endblock %}
