{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "SbnetFrontBundle::layout.html.twig" %}

{% block title %}
  Bienvenue sur - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="jumbotron wide">
    <div class="container">
      <div class="col-lg-9 col-lg-offset-4 text-center">
        <h1>Bienvenue sur 36000.fr</h1>
        <p>36000.fr, base documentaire gratuite sur toutes les communes de France : données géographiques, données démographiques, sites des mairies... Il est aussi possible de faire des recherches par proximité géographique. Vous cherchez la liste des communes francaises ? Alors vous avez trouvé ! 36000 offre gratuitement les informations essentielles pour chaque ville de France, de la commune de 30 habitants aux grands centres urbains de l'Hexagone.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p class="text-center text-success lead">Pour trouver une ville, saisissez son nom ou son code postal</p>
    </div>
  </div>

  <div class="row">
    <form id="index-search" action="{{ path('sbnet_front_search') }}" method="post">
      <div class="col-lg-5 col-lg-offset-3">
        <input type="text" class="form-control" placeholder="Nom ou code postal" name="q">
      </div>
      <div class="col-lg-1 text-center">
        <button class="btn btn-primary" type="submit">Trouver</button>
      </div>
    </form>
  </div>

  <div class="row text-center" id="regions">
    <div class="col-md-4">
      <h2>Les régions</h2>
      <ul>
        {% for region in regions %}
          <li><a href="{{ path('sbnet_front_region', { 'id': region.id, 'name': region.name|lower }) }}">{{ region.formal_name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-4">
        <h2>Vigilance météo</h2>
        <!-- Debut code vignette Vigilance Météo-France -->
        <iframe src="http://vigilance.meteofrance.com/PREV/vignette.html"  width="244" height="91" frameborder="0">
            <p>Votre navigateur est incompatible avec les iframes.</p>
        </iframe>
        <!-- FIN Vigilance  -->
    </div>

    <div class="col-md-4">
        <h2>Les villes</h2>
        <ul>
          {% for city in biggers %}
            <li><a href="{{ path('sbnet_front_city', { 'id': city.nid, 'post_code': city.post_code, 'name': city.search|lower }) }}">{{ city.post_code }} - {{ city.prefix }}{{ city.name }}</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}
