{# On utilise ici le layout général, qui se situe dans ce même bundle #}
{% extends "SbnetFrontBundle::layout.html.twig" %}

{% block title %}
  {{ region.formal_name }} - {{ parent() }}
{% endblock %}

{% block navTitle %}
  {{ parent() }} - {{ region.formal_name }}
{% endblock %}

{% block content %}
  <h1>{{ region.formal_name }}</h1>
  <p>Il y a {{ areas|length }} départements dans cette région</p>
  <ul>
    {% for area in areas %}
      <li><a href="{{ path('sbnet_front_area', { 'id': area.id, 'name': area.name|lower }) }}">{{ area.formal_name }}</a></li>
    {% endfor %}
  </ul>
  {% dump(areas) %}
{% endblock %}
