{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "SbnetFrontBundle::layout.html.twig" %}

{% block title %}
  Votre recherche - {{ parent() }}
{% endblock %}

{% block content %}
  <h1>Résultats de votre recherche</h1>
    <p>Il y a {{ cities|length }} villes qui correspondent à votre recherche</p>
    <ul>
      {% for city in cities %}
        <li><a href="{{ path('sbnet_front_city', { 'id': city.nid, 'post_code': city.post_code, 'name': city.search|lower }) }}">{{ city.post_code }} - {{ city.prefix }}{{ city.name }}</a></li>
      {% else %}
        <li>Je n'ai rien trouvé</li>
      {% endfor %}
    </ul>
{% endblock %}
